* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  background-color: #1a1a1a;
  color: white;
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border: 2px solid beige;
  width: auto;
  height: auto;
}
.counter-container {
  background-color: rgb(255, 168, 37);
  width: min(200rem, 50%);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  & h2 {
    text-transform: uppercase;
    font-size: 3rem;
    text-decoration: line-through;
  }
}
/* .history-container {
  background-color: rgb(255, 37, 37);
  width: min(20rem, 50%);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  & h2 {
    text-transform: uppercase;
  } */
form {
  position: relative;
}
input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 5rem;
}
button {
  padding: 0.5rem 1rem;
  border: none;
}
.incre {
  background-color: #3daf3d;

  color: white;
}
.decre {
  background-color: red;
  color: white;
}
.reset-btn {
  background-color: gray;
  color: white;
}
