* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  background-color: #1a1a1a;
  color: white;
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border: 2px solid beige;
  width: auto;
  height: auto;
}
.counter-container {
  background-color: rgb(255, 168, 37);
  width: min(20rem, 50%);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  & h2 {
    text-transform: uppercase;
  }
}
.history-container {
  background-color: rgb(255, 37, 37);
  width: min(20rem, 50%);
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  & h2 {
    text-transform: uppercase;
  }
}
